<!-- 로그인 -->
<!-- 로그인 -->
<!-- 로그인 -->
<%= form_for(:session, url: login_path, class: "") do |f| %>
	<% if flash[:notice] %>
		<div style="color:red">
			<%= flash[:notice].html_safe %>
		</div>
		<div style="height:10px"></div>
	<% end%>

	<%= f.text_field :user_id, placeholder: "Id" %>
	<%= f.password_field :password, placeholder: "Password" %>
	<%= f.submit "로그인" %>
<% end %>
<!-- 로그인 END -->
<!-- 로그인 END -->
<!-- 로그인 END -->

<div style="height:10px"></div>

<%= link_to "회원가입", new_user_path %>

<div style="height:10px"></div>

<div id="service-status">
	<h3>우리가 함께하고 있는 목표들</h3>
	<% @tags.each do |t| %>
		<div class="label-status">
			<span class="goal-label"><%= t %></span> -  <span class="goal-label-count"><%= Goal.tagged_with(t).length %></span>번 달성 되었습니다
		</div>
	<% end %>
</div>

<div style="height:10px"></div>

<div id="service-about">
	<h3>About GoalWith</h3>
	골윗은 여러분의 <span style="color:red">지향점을 후원</span>합니다
	<div style="height:5px"></div>
	- 골윗에서 목표를 달성하고 의미 있는 삶을 가꾸어 나갈 수 있습니다
	<div style="height:5px"></div>
	<span style="color:gray;text-decoration-line: line-through">- 골윗이 <b>서포터즈</b>로 부터 얻은 광고 수익의 일정 부분은 지향점에 대한 영향력이 큰 분들에게 돌아갑니다</span> (예정)
	<div style="height:5px"></div>
	골윗은 <span style="color:red">미니멀리즘을 지향</span>합니다
	<div style="height:5px"></div>
	- 최소한의 도구를 제공함으로써 <b style="text-decoration-line: underline">오프라인에서의 행동을 이끌어내고자</b> 합니다
</div>
