<h1>회원가입</h1>
<%= form_for(@user, html: {autocomplete: "off"}) do |f| %>
	<div style="color:red;">
		<% @user.errors.full_messages.each do |msg| %>
			<div><%=msg %> </div>
		<% end %>
	</div>
	<%= f.text_field :user_id, placeholder: "유저아이디" , class: "", :autocomplete => :off%>
	<div style="height:5px"></div>
	<%= f.text_field :nick, placeholder: "닉네임", class: "", :autocomplete => :off %>
	<div style="height:5px"></div>
	<%= f.text_area :memo, placeholder: "자기소개", class: "", :autocomplete => :off %>
	<div style="height:5px"></div>
	<%= f.password_field :password, placeholder: "비밀번호", required: true, class: "", :autocomplete => :off %>
	<div style="height:5px"></div>
	<%= f.password_field :password_confirmation, placeholder: "비밀번호 확인", required: true, class: "", :autocomplete => :off %>
	<div style="height:5px"></div>
	<%= f.submit :submit, id: "" %>
<% end %>    

<div style="height:10px"></div>

<%= link_to "취소", login_path %>

