<% if flash[:notice] %>
	<div style="color:red">
		<%= flash[:notice].html_safe %>
	</div>
	<div style="height:10px"></div>
<% end%>

<span style="color:red"><%= current_user.nick %></span>님 환영합니다
<%= link_to "로그아웃", logout_path %> 

<div style="height:10px"></div>

<%= link_to "통계 보기", statistics_path %>
,
<%= link_to "목표 생성", new_goal_path %>

<div style="height:10px"></div>
오늘 해야 할 것들
<div style="height:10px"></div>

<% if not @goals or @goals.length == 0 %>
	- <span style="color:gray"><%= link_to "목표를 생성", new_goal_path%>해주세요</span>
<% end %>

<% @goals.each do |g| %>
	<div class="goal">
		- [<b class="label"><%= g.label_list %></b>] 
		<span class="goal-body" style="color:<%= g.color %>; font-weight:<%=g.weight%>"><%= g.body %></span>
		<%= link_to "달성하기", "/complete_form/" + g.id.to_s %>
	</div>
<% end %>
 
<div style="height:10px"></div>
오늘 달성한 것들
<div style="height:10px"></div>

<% @goals_completed_today.each do |g| %>
	<div class="goal-finished" style="text-decoration:line-through">
		- [<b class="label"><%= g.label_list %></b>] 
		<span class="goal-body" style="color:rgb(150,150,150); font-weight:<%=g.weight%>"><%= g.body %></span>
	</div>
<% end %>
 
<div style="height:10px"></div>
